[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage="*"
coveralls="*"
moto="*"
python-coveralls="*"

[packages]
boto3="*"
Click="*"
sqlalchemy="*"
sqlalchemy-utils="*"
python-dateutil="*"
psycopg2-binary="*"
google-compute-engine = "*"
snowflake-sqlalchemy = "*"
pymysql = "*"
cx-oracle = "*"
pymssql = "*"

[requires]
python_version = "3.7"
