[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage="*"
moto="*"
python-coveralls="*"
coveralls="*"

[packages]
boto3="*"
Click="*"
sqlalchemy="*"
sqlalchemy-utils="*"
python-dateutil="*"
psycopg2-binary="*"
google-compute-engine = "*"
snowflake-sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.7"
