[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coveralls = "*"
moto = "*"
python-coveralls = "*"

[packages]
boto3 = "*"
Click = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
python-dateutil = "*"
psycopg2-binary = "*"
google-compute-engine = "*"
snowflake-sqlalchemy = "*"
pymysql = "*"
cx-oracle = "*"
pymssql = "*"
werkzeug = "*"
snowflake-connector-python = "*"
pyyaml = "*"
pytz = "*"
pyrsistent = "*"
jsonschema = "*"
setuptools = "*"
aws-sam-translator = "*"
cfn-lint = "*"
coveralls = "*"
coverage = "*"
jsonpatch = "*"
jsondiff = "*"
python-coveralls = "*"

[requires]
python_version = "3.7"
